.cart-list{
    position: absolute;
    top: 107px;
    left: 1250px;
    background-color: #E8DAD3;
    width: 500px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;
}

.cart-list_arrange{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #151519;
    justify-content: center;
    text-align: center;
}

.cart-list__total-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}

.cart-list:hover{
    opacity: 1;
}

.cart-list_arrange .btn{
    width: auto;
    margin: 0 auto;
}
